<app-role-picker (roleAdded)="addRoleCode($event)"></app-role-picker>

<mat-list>
  <mat-list-item *ngFor="let roleCode of settings?.excludedRoleCodes">
    <span matLine>
      {{ roleCode | roleTypeDesc }}
    </span>
    <button mat-icon-button (click)="removeRoleCode(roleCode)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<div>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
  <button mat-raised-button color="primary">Cancel</button>
</div>
