<section>
  <h1>
    Toggle Staff Roles
  </h1>
  <p>To use this app to activate or deactivate a user's roles (except for the "patron" role)</p>
</section>

<!--
<section>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Page Entity</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <pre>{{ pageEntities | json }}</pre>
    </mat-card-content>
  </mat-card>
</section>
-->

<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>User: {{user.primary_id}}</mat-card-title>
    </mat-card-header>
    <p>Active Roles: {{user.activeRoleCount()}}</p>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="activateStaffRoles()">Activate Staff Roles</button>
      <button mat-raised-button color="primary" (click)="deactivateStaffRoles()">Deactivate Staff Roles</button>
    </mat-card-actions>
  </mat-card>
</section>
