<section>
  <h1>
    Toggle Roles
  </h1>
  <p>Activate or deactivate a user's roles</p>
</section>

<section *ngIf="(onUserPage$ | async) && user$ | async as user">
  <mat-card>
    <mat-card-header>
      <mat-card-title>User: {{ user.full_name }}</mat-card-title>
      <mat-card-subtitle
        >Active Roles: {{ user.activeRoleCount }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="progress-bar-container">
        <mat-progress-bar
          *ngIf="loading$ | async"
          mode="indeterminate"
        ></mat-progress-bar>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="activateRoles(user)"
        [disabled]="loading$ | async"
      >
        Activate Roles
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="deactivateRoles(user)"
        [disabled]="(loading$ | async) || user.activeRoleCount == 0"
      >
        Deactivate Roles
      </button>
    </mat-card-actions>
  </mat-card>
</section>
